* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    background-color: black;
}

.board {
    border-collapse: collapse;
    display: grid;
    margin-top: 15vh;
    justify-content: center;
    grid-template: 120px 120px 120px / 120px 120px 120px;
}

.square {
    border-collapse: collapse;
    background-color: rgb(17, 17, 16, 0.7);
    border: 5px solid gray;
}

#0,
#3,
#6 {
    border-left: 0px;
}

#0,
#1,
#2 {
    border-top: 0px;
}